body {
    margin: 0
}

section {
    height: 100vh;
}

h1 {
    width: 522px;
    height: 161px;
    left: 0px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 140%;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

/*Pagina Home */
.firstPage {
    background-color: #116CFF;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 708px;
    height: 39px;
    left: 403px;
    top: 40px;
}

a {
    position: static;
    width: 120px;
    height: 19px;
    left: 10px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.logo {
    position: absolute;
    width: 129.32px;
    height: 37px;
    left: 100px;
    top: 60px;
}

.login {
    width: 104px;
    height: 39px;

    margin-top: 55px;
    border-radius: 10px;
    margin-left: 1400px;
    color: #116CFF;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
}

.LearningCoding {
    display: flex;
    align-items: flex-start;

    color: white;
}

.LearningCoding article {
    width: 500px;
    margin-left: 100px;
    margin-top: 70px
}

.LearningCoding p {
    position: absolute;
    width: 503px;
    height: 64px;
    left: 100px;
    top: 381px;

    font-weight: 500;
    font-size: 18px;
}

.dizzy {
    position: absolute;
    width: 632px;
    height: 386.5px;
    left: 800px;
    top: 160px;
}

.amarelo {
    position: absolute;
    width: 263px;
    height: 60px;
    left: 1250px;
    top: 165px;
}

.retangulo {
    position: absolute;
    top: 200px;
    left: 920px;

    width: 423px;
    height: 355px;
}

.estrela1 {
    position: absolute;
    width: 34px;
    height: 32.76px;
    left: 910px;
    top: 185px;
}

.estrela2 {
    position: absolute;
    width: 34px;
    height: 32.76px;
    left: 1320px;
    top: 534px;
}

.cinza {
    position: absolute;
    width: 263px;
    height: 60px;
    left: 790px;
    top: 520px;
}

.Book {
    position: absolute;
    width: 263px;
    height: 60px;
    top: 500px;
    background: #FFFFFF;
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border: none;
    cursor: pointer;

    color: #116CFF;
}

.Learn {
    position: absolute;
    width: 200px;
    height: 60px;
    top: 500px;
    background: #116CFF;
    border-radius: 10px;
    left: 410px;

    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: white;
    font-family: 'Inter';
    font-style: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

/*Segunda e terceira parte */
.logical-thinking {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #00235C;
    background-color: white;
}

.logical-thinking article {
    width: 630px;
}

.logical-thinking p {
    width: 561px;
    height: 160px;
}

.preparing-your-kids {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #116CFF;
}

.preparing-your-kids article {
    width: 570px;

    margin-right: 38px;
}

.preparing-your-kids p {
    width: 526px;
    height: 200px;
    padding-top: 120px;
}

/* Pagina de chats */
.chat  {
    position: absolute;
    background-color: white;
    
}

.title {
    font-style: 'bold';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    top: 60px;
    width: 185;
    height: 50px;
    left: 101px;
    position: absolute;
    color:#116CFF
}




.chat1 {
    position: absolute;
    width: 549px;
    height: 189px;
    left: 100px;
    top: 162px;
}

.chat2 {
    position: absolute;
    width: 543px;
    height: 193px;
    left: 100px;
    top: 371px;
}

.chat3 {
    position: absolute;
    width: 543px;
    height: 189px;
    left: 723px;
    top: 162px;
}

.chat4 {
    position: absolute;
    width: 543px;
    height: 189px;
    left: 723px;
    top: 371px;
}

.fundoChat {
    position: absolute;
    top: 0px;
    left: 400px;
    width: 1050px;
    height: 700px;
}

/*Estilização da page da tabela */


.table {
    position: absolute;
    background-color: #116CFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 800px;
    flex-direction: column;
    width: 100%;
}

.cima {
    position: absolute;
    width: 1166px;
    height: 115px;
    /* left: auto; */
    top: 146px;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 0px 0px;
    align-items: center;
}

.geral {
    padding: 0px 30px;
}

h2 {
    color: #00235C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}

.info {
    /* position: absolute; */
    display: grid;
    grid-template-columns: 40px 180px 40px 1px;
    margin-left: 40%;
    /* background-color: red; */
    height: 115px;
    margin-top: -100px;
    width: 600px;
    /* justify-content: space-between; */
    align-items: center;
    /* justify-content: center; */
}

.info img {
    height: 24px;
    width: 24px;
}

.info p {
    /* position: absolute; */
    width: 300px;
    /* height: 25px; */
    /* margin-left: 10px; */
    /* top: 16px; */
    margin-top: 20px;
    line-height: 25px;
    color: #00235C;

}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;

    position: absolute;
    width: 135px;
    height: 50px;
    left: 1000px;
    /* top: 195px; */
    margin-top: -70px;

    background: #116CFF;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.table h1 {
    position: absolute;
    /* width: 172px; */
    /* height: 50px; */
    left: 180px;
    /* top: 3400px; */

    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}

.fileira1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1166px;
    align-items: center;
    margin-top: 1px;
    background: #FFFFFF;
}

.fileira1 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    padding: 0px 30px;
    color: #116CFF;
}

.fileira1 .estrelinhas{
    display:flex;
    justify-content: flex-start;
    padding-left: 40%;
}
.fileira1 img {
    height: 23px;
    width: 23px;
} 

.valores{
    color: #00235C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;  
    text-align: right;
    padding-right: 10%;
}

span{
    color: #ff463a;
    font-weight: 500;
    font-size:18px;
    background: rgba(255, 230, 229, 1);
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;

}

.contactUs{
    
}